<h3>
  <%= link_to viewing_path(user_v.viewings.first.id) do %>
  <%= user_v.viewings.first.movie_info %>
  <% end %>
</h3>
<p>porposé par: <%= user_v.viewings.first.user.username %></p>
<p>Date: <%= user_v.viewings.first.date %></p>
