<div class="container" id="custom-container" >
  <div class="d-flex justify-content-between">

    <div id="cards">
      <% @viewings.each do |viewing| %>
        <h3> <%= link_to viewing_path(viewing) do %>
          <%= viewing.movie_info %>
          <% end %>
        </h3>
      <% end %>
    </div>

    <div>
      <%= image_tag('map_img1.png', size: "300x500") %>
    </div>

  </div>
</div>
