<div class="container text-white">
  <h1>Liste des projections que tu as demandé</h1>
  <% @bookings.each do |booking| %>
    <h2><%= booking.viewing.movie_info %></h2>
    <p>La date de la projection: <%= booking.viewing.date %></p>
    <p>Le projectionneur est: <%= booking.user.username %></p>
  <% end %>
</div>
