<div class="container text-white">
  <h1>OK! Ta resa est bien enregistrée pour <%= @viewing.movie_info %> !</h1>
  <p>Ton hôte la validera (ou pas) très bientôt</p>
  <p>Bonne séance !!</p>
  <%= link_to "voir la liste de mes demandes", bookings_path, class: "btn btn-primary"  %>
</div>
