<div class="container d-flex justify-content-center">
  <div class="confirm-booking">
    <h1>OK!</h1>
    <h2>Ta resa est bien enregistrée pour <%= @viewing.movie_info %> !</h2>
    <p>Ton hôte la validera (ou pas)</p>
    <p> très bientôt (ou pas)</p>
    <%= link_to "voir la liste de mes demandes", bookings_path, class: "btn btn-primary"  %>
  </div>
</div>
