.card-infos-viewing {
  margin-top: 16px;
  padding: 10px;
  color: white;
  text-align: center;
}

.card-infos-viewing .home-cine {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  object-fit: fill;
}
